:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --mail-tel-text-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --background-icon: #ffffff;
  --main-background-color: #ffffff;
  --button-background-color: #188ce8;
  --card-background-color: rgba(33, 150, 243, 0.9);
  --footer-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --footer-icon-background-color: rgba(255, 255, 255, 0.1);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.markers {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    color: var(--primary-text-color);
    transition: fill var(--transition-dur-and-func);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: var(--accent-color);
  }
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
}
.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--accent-color);
}
.mobile-menu-nav__link_current {
  color: var(--accent-color);
}

.mobile-menu-contact {
  margin-bottom: 64px;
}
.mobile-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contact__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-menu-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}

.mobile-menu-social__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.mobile-menu-social__item:not(:last-child) .mobile-menu-social__link::after {
  display: block;
  content: "";
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.modal-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.modal-button__button {
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}
.modal-button__button:hover, .modal-button__button:focus {
  background-color: var(--button-background-color);
}

@media screen and (min-width: 1200px) {
  .modal-button__button {
    padding: 10px 32px;
    min-width: 216px;
  }
}
.footer-form__btn {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 10px;
  transition: background-color var(--transition-dur-and-func);
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: var(--button-background-color);
}

.icon-send {
  margin-left: 10px;
  fill: var(--white-text-color);
}

.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  align-self: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--button-background-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func), transform var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: rotate(-90deg) scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--background-icon);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--background-icon);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill var(--transition-dur-and-func);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-text {
    line-height: 1.15;
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.label-name {
  margin-bottom: 10px;
}
.label-name .label-name__text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.modal-form-icon {
  display: block;
  position: relative;
}

.input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.input-name:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.input-name:focus + .form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-form-check::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background: var(--background-icon);
  background-image: url(../images/checkbox.svg);
  cursor: pointer;
  margin-right: 8px;
}
.modal-check:checked + .modal-form-check::before {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  transition: background-color var(--transition-dur-and-func);
}

@media screen and (min-width: 1200px) {
  .modal-form-check {
    font-size: 14px;
    line-height: 1.7;
    justify-content: center;
  }
}
.modal-form-check-text {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.section-title.main {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title.main {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.photo-team__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.8;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contact {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .header-border {
    border: 1px solid #ececec;
  }
  .logo {
    padding: 16px 0;
    color: var(--primary-text-color);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    transition: color var(--transition-dur-and-func);
  }
  .logo:hover, .logo:focus {
    color: var(--accent-color);
  }
  .logo__accent {
    color: var(--accent-color);
  }
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .header-border {
    border: 1px solid #ececec;
  }
  .logo {
    padding: 26px 0;
    margin-right: 88px;
    color: var(--primary-text-color);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;
    transition: color var(--transition-dur-and-func);
  }
  .logo:hover, .logo:focus {
    color: var(--accent-color);
  }
  .logo__accent {
    color: var(--accent-color);
  }
  .site-nav .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    padding: 32px 0;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--transition-dur-and-func);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link {
    position: relative;
  }
  .site-nav__link_current {
    color: var(--accent-color);
  }
  .site-nav__link_current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    transform: translateX(0);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    transition: color var(--transition-dur-and-func);
  }
  .contact {
    margin-left: auto;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--transition-dur-and-func);
  }
  .contact:hover, .contact:focus {
    color: var(--accent-color);
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .mail {
    padding-top: 21px;
    display: flex;
    justify-content: center;
    transition: color var(--transition-dur-and-func);
  }
  .mail:hover, .mail:focus {
    color: var(--accent-color);
  }
  .mail__icon {
    order: -1;
    margin-right: 8px;
    align-self: center;
    fill: currentColor;
  }
  .phone {
    padding-bottom: 21px;
    display: flex;
    transition: color var(--transition-dur-and-func);
  }
  .phone:hover, .phone:focus {
    color: var(--accent-color);
  }
  .phone__icon {
    order: -1;
    margin-right: 8px;
    align-self: center;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding: 26px 0;
    margin-right: 88px;
    font-size: 26px;
    line-height: 1.19;
  }
  .site-nav__link_current {
    color: var(--accent-color);
  }
  .contact {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
  }
  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .page-header {
    padding: 32px 0;
  }
  .mail__icon {
    margin-right: 10px;
  }
  .phone__icon {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-mobile.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg");
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
}

.hero__hero-title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
  .hero__hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
  .hero__hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.features-list__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list__item:not(:nth-last-child(2n+1)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: var(--secondary-background-color);
}

@media screen and (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }
}
.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

.features {
  padding-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-list__card {
  flex-basis: calc((100% - 60px) / 3);
}

.work-thumb {
  position: relative;
}

.work-title-list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-title {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    flex-wrap: wrap;
  }
}
.our-team__item {
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team__item {
    flex-basis: 450px;
  }
}
@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__item:not(:nth-last-child(2n-1)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}
.photo-team {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .photo-team {
    padding-bottom: 30px;
  }
}
.text-team {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.social-list-link:hover, .social-list-link:focus {
  fill: var(--background-icon);
  background-color: var(--accent-color);
}

.background {
  background-color: var(--secondary-background-color);
}

.icon-clients {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 1199px) {
  .icon-clients {
    flex-wrap: wrap;
  }
}
.icon-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  cursor: pointer;
  fill: currentColor;
  transition: border-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.icon-clients__link:hover, .icon-clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .icon-clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-clients__link {
    width: 226px;
  }
}
@media screen and (max-width: 480px) {
  .icon-clients {
    justify-content: center;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

@media screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .footer-contact {
    width: 100%;
  }
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--white-text-color);
  transition: color var(--transition-dur-and-func);
}
.logo-footer:hover, .logo-footer:focus {
  color: var(--accent-color);
}

.logo-footer__accent {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}
.address__place {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
  color: var(--white-text-color);
}
.address__place:hover, .address__place:focus {
  color: var(--accent-color);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address__mail-tel {
  color: var(--address-color);
  font-style: normal;
  text-decoration: none;
  transition: color var(--transition-dur-and-func);
}
.address__mail-tel:hover, .address__mail-tel:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-icon {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.title {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-icon-list {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--background-icon);
  background-color: var(--footer-icon-background-color);
  transition: background-color var(--transition-dur-and-func);
}
.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-form {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
.footer-label__input-email {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background-color);
  color: var(--white-text-color);
  transition: border-color var(--transition-dur-and-func);
}
.footer-label__input-email:focus {
  outline: none;
  border-color: var(--accent-color);
}
.footer-label__input-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--address-color);
}

@media screen and (max-width: 480px) {
  .footer-label__input-email {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-label__input-email {
    margin-right: 12px;
    margin-bottom: 0;
    max-width: 358px;
  }
}
@media screen and (max-width: 767px) {
  .filter {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter {
    min-width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    min-width: 100%;
    margin-bottom: 50px;
    justify-content: center;
  }
}
.filter {
  display: flex;
  max-width: 350px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: none;
  transition: box-shadow var(--transition-dur-and-func), color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.portfolio-button.primary {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.portfolio-button.secondary {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.our-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
}

.shadow {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-dur-and-func);
}
.shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card-text {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white-text-color);
  background-color: var(--card-background-color);
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.shadow:hover .portfolio-card-text {
  transform: translateY(0);
}

.portfolio-photo {
  padding: 20px 24px;
  background: var(--main-background-color);
  border: 1px solid #eeeeee;
  border-top: none;
}/*# sourceMappingURL=main.css.map */